.cocktail-container{
    background-color: #fff;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    transform: scaleZ(1.5);
    transition: transform 2s;
}

.cocktail-container:hover{
    transform: scale(1.05);
    transition: transform 3s ease-in;
}

.cocktail-container > img{
    width: 250px;
    height: 250px;
}

.cocktail-container > h4{
    color: gray;
    font-size: 22px;
    font-weight: 600;
}
.cocktail-container > p{
    color: gray;
    font-size: 18px;
    font-weight: 400;
}